.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}

.item {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(7n) {
  background-color: red;
}
.item:nth-child(7n + 6) {
  background-color: blue;
}
