body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.children {
  background-color: beige;
  width: 100px;
  height: 100px;
}
.children:nth-child(2) {
  order: 101;
}
.children:nth-child(1) {
  order: 100;
}
